.kotak {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

/* handphone */

/* tablet */
@media screen and (min-width: 768px) {
    .kotak {
        background-color: aqua;
    }
}

/* laptop */
@media screen and (min-width: 992px) {
    .kotak {
        background-color: brown;
    }
}