
/* Latihan flexbox */
.container {
    display: flex;
    /* width: 300px; */
    /* height: 300px; */
    border: 5px solid black;
    margin: 30px auto;
    padding: 5px;
    box-sizing:border-box;
    flex-direction: row-reverse;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    align-items: baseline;

}

.container div {
    width: 150px;
    height: 150px;
    margin: 2px;
    background-color: red;
}

.container div.tiga {
    font-size: 100px;
    order: 4;
    flex: 1;
}


/* Latihan 1 */
.container-satu {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    width: 800px;
    background-color: rgb(226, 226, 226);
    margin: 50px auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
}

.kolom-utama {
    flex: 3;
    order: 2;
}

.kolom-satu {
    flex: 1;
    order: 1;
}

.kolom-dua {
    flex: 1;
    order: 3;
}

/* Latihan 2 */
.container-dua {
    width: 800px;
    margin: 50px auto;
    
}

.layanan {
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.layanan.satu {
    background-color: blue;
}

.layanan.dua {
    background-color: green;
}

.layanan.tiga {
    background-color: red;
}

/* Responsive */
@media(min-width: 600px) {
    .container-dua {
        display: flex;
        justify-content: space-between;
    }

    .layanan {
        width: 30%;
    }
}

/* Latihan 3 */
.container-tiga {
    width: 800px;
    margin: 50px auto;
}

.thumbnail {
    display: flex;
}

.thumbnail img {
    width: 40%;
    margin: 20px;
}

/* Latihan 4 */
.container-empat {
    width: 800px;
    margin: 50px auto;
}

.container-empat.card {
    border: 10px black;
}